.yanyuk {
  display: inline-block;
  width: 100px;
  height: 42px;
  margin: 0 18px 36px 0;
  text-indent: -9999px;
  background-image: url("/yanyuk.png");
  background-size: 100px;
  background-position: left center;
  background-repeat: no-repeat;
}

.domain {
  color: rgba(0,0,0,0.5);
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.domain:hover {
  color: #086efa;
}

.container {
  padding: 120px;
}

.socialLinks {
  margin: 0;
  padding: 0;
  list-style: none;
}

.socialLinks li {
  float: left;
  display: inline-block;
  margin: 0 30px 0 0;
}

.socialLinks li a {
  position: relative;
  display: block;
  padding: 4px 0;
  color: rgba(0,0,0,0.5);
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.socialLinks li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(0,0,0,0.1);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.socialLinks li a.one:hover {
  color: #086efa;
}

.socialLinks li a.one:hover:after {
  background: #086efa;
}

.socialLinks li a.two:hover {
  color: #086efa;
}

.socialLinks li a.two:hover:after {
  background: #086efa;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 60px;
  }
}

@media only screen and (max-width: 400px) {
  .container {
    padding: 30px;
  }
}
